body {
  font-family: 'Inter', sans-serif !important;
  background-color: #F9FAFF;
}

.bg-white {
  background-color: #FFF;
}

.headerText {
  font-size: 36px;
  font-weight: 700;
  color: 263238;
}

.buttonPrimary {
  background-color: #FFCF4B;
  width: 100%;
  border-radius: 6px;
  padding-left: 10px;
  border: 1px solid #FFC422;
  padding: 8px;
}


.buttonSecondary {
  background-color: #F9F9F9;
  width: 100%;
  border-radius: 6px;
  padding-right: 10px;
  border: 1px solid #CEC6C6;
  margin-right: 15px;
  padding: 8px;
}

.buttonText {
  font-weight: 500;
  font-size: 14px;
  color: #65624C
}

.buttonNumber {
  font-weight: 600;
  font-size: 20px;
}

.buttonNumber span {
  font-weight: 500;
  font-size: 12px;
  color: #65624C;
}

.downloadHeader {
font-size: 36px;
font-weight: 700;
color: #605F5F;
}

.footer {
  background-color: #222E34;
  height: 50px;
  width: 100%;
  color: #DDDDDD;
  font-weight: 400;
  font-size: 14px;
}
@media (max-width: 1080px) {
  .headerText {
    font-size: 24px;
    font-weight: 600;
  }
  .buttonText {
    font-weight: 500;
    font-size: 12px;
  }
  
  .buttonNumber {
    font-weight: 600;
    font-size: 15px;
  }
  
  /* .buttonNumber span {
    font-weight: 500;
    font-size: 12px;
    color: #65624C;
  } */
}